.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position: absolute;
  left: 0px;
  background-color: rgb(215, 250, 227);
  width: 200px;
  height: 100vh;
}

.outlet {
  position: absolute;
  left: 200px;
  height: 100vh;
  background-color: beige;
  width: calc(100vw - 200px);
  padding: 10px;
}

.header {
  text-align: center;
}

.vnav {
  position: fixed;
  top:0;
  left: 0;
  height: 50px;
  width: 100vw;
  background-color: bisque;
  padding: 10px;
}

.voutlet {
  position: absolute;
  background-color: burlywood;
  width: 100vw;
  height: 2000px;
  padding: 10;
  top: 50px;
}

.menu-p {
  display: inline-block;
  padding: 3px;
  margin: 5px;
  width: 120px;
  border: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  background-color: rgb(216, 142, 52);

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgb(228, 212, 191);
}
